@media all and (max-width: 425px) {
   .custom-mobile-row-height {
      height: 70px;
   }
}

@media all and (min-width: 426px) and (max-width: 499px) {
   .custom-mobile-row-height {
      height: 50px;
   }
}

@media all and (max-width: 768px) {
   .custom-mobile-width {
      width: 336px;
   }
   .custom-navbar-active {
      font-size: 1.15rem;
   }
   .custom-card-width {
      max-width: 300;
   }
   .custom-player-image-size {
      transform: scale(0.8);
      max-width: 138px;
      max-height: 147.6px;
   }
   .custom-modal-dropdown {
      min-width: 150px;
   }
}

@media all and (min-width: 768px) {
   .table-width {
      margin: auto;
      width: 50%;
   }
   .home-width {
      margin: auto;
      width: 70%;
   }
   .custom-mobile-width {
      width: 420px;
   }
   .custom-navbar-active {
      font-size: 1.35rem;
   }
   .custom-card-width {
      max-width: 240px;
   }
   .custom-modal-dropdown {
      min-width: 150px;
   }
}

@media all and (min-width: 1024px) {
   .custom-mobile-width {
      width: 500px;
   }
   .custom-navbar-end {
      width: "140px";
   }
}

@media all and (min-width: 1201px) {
   .home-width {
      margin: auto;
      width: 50%;
   }
}

[data-tooltip]:not(.is-loading).has-tooltip-multiline::before,
[data-tooltip]:not(.is-disabled).has-tooltip-multiline::before,
[data-tooltip]:not([disabled]).has-tooltip-multiline::before {
   height: auto;
   width: 15rem;
   max-width: 15rem;
   text-overflow: clip;
   white-space: pre-line;
   word-break: keep-all;
}
